@model IEnumerable<Munin.DAL.Models.Sequence>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SequenceNb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Source)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Interviewer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Copyright)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SequenceType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SequenceNb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Source)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Interviewer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Copyright)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SequenceType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SequenceId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SequenceId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SequenceId })
        </td>
    </tr>
}

</table>
