@model Munin.DAL.Models.Map

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Map</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MapNb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MapNb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MapType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MapType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proportion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proportion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publisher)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublishYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublishYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RevisionYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RevisionYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Format)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Format)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Material)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Material)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Depot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Depot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MapId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
